body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #292b2e;
  height: 100%;
}

body .container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

body .container header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #004a85;
  z-index: 9999;
  width: 100%;
  padding: 0px 10px;
}

body .container header .area_logo_header {
  width: 200px;
}

body .container header .area_nav_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container header .area_nav_header .area_tab {
  width: 100px;
}

body .container header .area_nav_header .area_tab a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 50px;
  color: #fbfbfb;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}

body .container header .area_nav_header .area_tab .area_item {
  border-radius: 3px;
  display: none;
  overflow: hidden;
  background-color: white;
  width: 220px;
  padding: 15px;
  position: absolute;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .container header .area_nav_header .area_tab .area_item a {
  display: block;
  float: left;
  padding: 0%;
  margin: 2% 0;
  width: 100%;
  text-align: center;
  background-color: #004a85;
  color: #fbfbfb;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

body .container header .area_nav_header .area_tab .area_item a:hover {
  background-color: #212121;
  cursor: pointer;
}

body .container header .area_nav_header .area_tab:hover a {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

body .container header .area_nav_header .area_tab:hover .area_item {
  display: block;
}

body .container main {
  display: block;
  margin-top: 50px;
  padding: 0 20px;
  height: 100%;
}

body .container main .area_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  width: 100%;
}

body .container main .area_top .area_logo {
  width: 200px;
  height: 200px;
  border: solid 0px;
  border-radius: 20px;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 74, 133, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main .area_top .area_logo span {
  font-size: 150px;
  color: #004a85;
}

body .container main .area_top .area_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container main .area_top .area_description {
  width: calc(100% - 200px);
  padding-left: 20px;
}

body .container main .area_top .area_description .owner_name {
  color: #292b2e;
  font-size: 24px;
  font-weight: 700;
  line-height: 200%;
  width: 100%;
}

body .container main .area_top .area_description table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_top .area_description table tr {
  border-bottom: solid 2px white;
}

body .container main .area_top .area_description table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_top .area_description table tr th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  border-left: 7px solid #004a85;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

body .container main .area_top .area_description table tr td {
  text-align: left;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

body .container main .area_top .area_description table tr:last-child {
  border-bottom: none;
}

body .container main .area_main {
  width: 100%;
}

body .container main .area_main .area_owner_vessel {
  padding: 20px 0px;
  width: 100%;
}

body .container main .area_main .area_owner_vessel h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

body .container main .area_main .area_owner_vessel .owner_vessel {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr {
  border-bottom: solid 2px white;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/9);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr:nth-child(odd) td {
  background-color: #e6ecee;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr:last-child {
  border-bottom: none;
}

body .container main .area_main .area_owner_interest {
  padding: 20px 0px;
  width: 100%;
}

body .container main .area_main .area_owner_interest h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

body .container main .area_main .area_owner_interest .owner_interest table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_main .area_owner_interest .owner_interest table tr {
  border-bottom: solid 2px white;
}

body .container main .area_main .area_owner_interest .owner_interest table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30%;
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_main .area_owner_interest .owner_interest table tr th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  border-left: 7px solid #004a85;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

body .container main .area_main .area_owner_interest .owner_interest table tr td {
  text-align: left;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

body .container main .area_main .area_owner_interest .owner_interest table tr:last-child {
  border-bottom: none;
}

body .container main .area_main .area_vessel_category {
  padding: 20px 0px;
  width: 100%;
}

body .container main .area_main .area_vessel_category h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

body .container main .area_main .area_vessel_category table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_main .area_vessel_category table tr {
  border-bottom: solid 2px white;
}

body .container main .area_main .area_vessel_category table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30%;
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_main .area_vessel_category table tr th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  border-left: 7px solid #004a85;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

body .container main .area_main .area_vessel_category table tr td {
  text-align: left;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

body .container main .area_main .area_vessel_category table tr:last-child {
  border-bottom: none;
}

body .container main #table_vessel {
  padding: 20px 0px;
  width: 100%;
}

body .container main #table_vessel table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main #table_vessel table tr {
  border-bottom: solid 2px white;
}

body .container main #table_vessel table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/10);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main #table_vessel table tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main #table_vessel table tr:nth-child(odd) td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: #e6ecee;
  padding: 5px 0px;
}

body .container main #table_vessel table tr:last-child {
  border-bottom: none;
}

body .container main #owner_search_filter {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main #owner_search_filter tr {
  border-bottom: solid 1px white;
}

body .container main #owner_search_filter tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/10);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main #owner_search_filter tr th:hover {
  background-color: rgba(0, 74, 133, 0.3);
  color: #292b2e;
  font-weight: 500;
}

body .container main #owner_search_filter tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main #owner_search_filter tr:nth-child(odd) td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: #e6ecee;
  padding: 5px 0px;
}

body .container main #owner_search_filter tr:last-child {
  border-bottom: none;
}

body .container main #table_owner {
  padding: 20px 0px;
  width: 100%;
}

body .container main #table_owner table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main #table_owner table tr {
  border-bottom: solid 1px white;
}

body .container main #table_owner table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/9);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main #table_owner table tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main #table_owner table tr:nth-child(odd) td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: #e6ecee;
  padding: 5px 0px;
}

body .container main #table_owner table tr:last-child {
  border-bottom: none;
}

body .container main .base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0;
  width: 100%;
  height: 100%;
}

body .container main .base #area_rooms {
  width: 220px;
  padding: 0 0 10px;
}

body .container main .base #area_rooms #window_rooms {
  overflow-y: scroll;
  height: 100%;
}

body .container main .base #area_rooms #window_rooms p {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

body .container main .base #area_rooms #window_rooms .new_room {
  cursor: pointer;
}

body .container main .base #area_rooms #window_rooms .new_room:hover {
  background-color: #bce1ff;
}

body .container main .base #area_rooms #window_rooms ul li {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

body .container main .base #area_rooms #window_rooms ul li:hover {
  background-color: #bce1ff;
}

body .container main .base #area_room {
  width: calc((100% - 220px)/2);
  padding: 0 0 10px;
}

body .container main .base #area_room #area_room_name {
  z-index: 100;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

body .container main .base #area_room #area_output {
  z-index: 5;
  overflow-y: scroll;
  height: 65vh;
}

body .container main .base #area_room #area_output #area_threads {
  padding: 10px 10px 0px;
}

body .container main .base #area_room #area_output #area_threads .thread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

body .container main .base #area_room #area_output #area_threads .thread .area_img {
  width: 40px;
  padding-right: 10px;
}

body .container main .base #area_room #area_output #area_threads .thread .area_img .owner_img {
  width: 40px;
  height: 40px;
  border: solid 0px;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 74, 133, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main .base #area_room #area_output #area_threads .thread .area_img .owner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container main .base #area_room #area_output #area_threads .thread .area_content {
  width: calc(100% - 40px);
}

body .container main .base #area_room #area_output #area_threads .thread .area_content .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body .container main .base #area_room #area_output #area_threads .thread .area_content .info .owner_name {
  font-size: 14px;
  font-weight: 700;
  vertical-align: bottom;
}

body .container main .base #area_room #area_output #area_threads .thread .area_content .info .dt_sent {
  font-size: 12px;
  font-weight: 300;
  vertical-align: bottom;
}

body .container main .base #area_room #area_output #area_threads .thread .area_content .message_thread {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
}

body .container main .base #area_room #area_output #area_threads .thread:hover {
  background-color: #bce1ff;
}

body .container main .base #area_room .area_input {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  margin: 10px;
  border: 2px solid #004a85;
  border-radius: 5px;
  padding: 5px;
  background-color: #bce1ff;
}

body .container main .base #area_room .area_input .area_message #message {
  width: 100%;
  border: none;
  background-color: transparent;
}

body .container main .base #area_thread {
  width: calc((100% - 220px)/2);
  padding: 0 0 10px;
}

body .container main .base #area_thread .area_thread_name {
  z-index: 100;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

body .container main .base #area_thread .area_output {
  z-index: 5;
  overflow-y: scroll;
  height: 65vh;
}

body .container main .base #area_thread .area_output #thread {
  padding: 10px 10px 0px;
}

body .container main .base #area_thread .area_output #thread .thread {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

body .container main .base #area_thread .area_output #thread .thread .area_img {
  width: 40px;
  padding-right: 10px;
}

body .container main .base #area_thread .area_output #thread .thread .area_img .owner_img {
  width: 40px;
  height: 40px;
  border: solid 0px;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  background-color: rgba(0, 74, 133, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main .base #area_thread .area_output #thread .thread .area_img .owner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container main .base #area_thread .area_output #thread .thread .area_content {
  width: calc(100% - 40px);
}

body .container main .base #area_thread .area_output #thread .thread .area_content .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body .container main .base #area_thread .area_output #thread .thread .area_content .info .owner_name {
  font-size: 14px;
  font-weight: 700;
  vertical-align: bottom;
}

body .container main .base #area_thread .area_output #thread .thread .area_content .info .dt_sent {
  font-size: 12px;
  font-weight: 300;
  vertical-align: bottom;
}

body .container main .base #area_thread .area_output #thread .thread .area_content .message_thread {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
}

body .container main .base #area_thread .area_output #thread .thread:hover {
  background-color: #bce1ff;
}

body .container main .base #area_thread .area_input {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  margin: 10px;
  border: 2px solid #004a85;
  border-radius: 5px;
  padding: 5px;
  background-color: #bce1ff;
}

body .container main .base #area_thread .area_input .area_reply #message_reply {
  width: 100%;
  border: none;
  background-color: transparent;
}
/*# sourceMappingURL=style.css.map */