body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #292b2e;
  height: 100%;
}

body .container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

body .container header {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #004a85;
  z-index: 9999;
  width: 100%;
  padding: 0px 10px;
}

body .container header .area_logo_header {
  width: 200px;
}

body .container header .area_nav_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container header .area_nav_header .area_tab {
  width: 100px;
}

body .container header .area_nav_header .area_tab a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 50px;
  color: #fbfbfb;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
}

body .container header .area_nav_header .area_tab .area_item {
  border-radius: 3px;
  display: none;
  overflow: hidden;
  background-color: white;
  width: 220px;
  padding: 15px;
  position: absolute;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body .container header .area_nav_header .area_tab .area_item a {
  display: block;
  float: left;
  padding: 0%;
  margin: 2% 0;
  width: 100%;
  text-align: center;
  background-color: #004a85;
  color: #fbfbfb;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

body .container header .area_nav_header .area_tab .area_item a:hover {
  background-color: #212121;
  cursor: pointer;
}

body .container header .area_nav_header .area_tab:hover a {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

body .container header .area_nav_header .area_tab:hover .area_item {
  display: block;
}

body .container main {
  display: block;
  margin-top: 50px;
  padding: 0 20px;
  height: 100%;
}

body .container main .area_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  width: 100%;
}

body .container main .area_top .area_logo {
  width: 25%;
}

body .container main .area_top .area_description {
  width: 75%;
}

body .container main .area_top .area_description .owner_name {
  color: #292b2e;
  font-size: 24px;
  font-weight: 700;
  line-height: 200%;
}

body .container main .area_top .area_description table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_top .area_description table tr {
  border-bottom: solid 2px white;
}

body .container main .area_top .area_description table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30%;
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_top .area_description table tr th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  border-left: 7px solid #004a85;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

body .container main .area_top .area_description table tr td {
  text-align: left;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

body .container main .area_top .area_description table tr:last-child {
  border-bottom: none;
}

body .container main .area_main {
  width: 100%;
}

body .container main .area_main .area_owner_vessel {
  padding: 20px 0px;
  width: 100%;
}

body .container main .area_main .area_owner_vessel h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

body .container main .area_main .area_owner_vessel .owner_vessel {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr {
  border-bottom: solid 2px white;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/9);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main .area_main .area_owner_vessel .owner_vessel tr:last-child {
  border-bottom: none;
}

body .container main .area_main .area_owner_interest {
  padding: 20px 0px;
  width: 100%;
}

body .container main .area_main .area_owner_interest h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

body .container main .area_main .area_owner_interest .owner_interest table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_main .area_owner_interest .owner_interest table tr {
  border-bottom: solid 2px white;
}

body .container main .area_main .area_owner_interest .owner_interest table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30%;
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_main .area_owner_interest .owner_interest table tr th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  border-left: 7px solid #004a85;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

body .container main .area_main .area_owner_interest .owner_interest table tr td {
  text-align: left;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

body .container main .area_main .area_owner_interest .owner_interest table tr:last-child {
  border-bottom: none;
}

body .container main .area_main .area_vessel_category {
  padding: 20px 0px;
  width: 100%;
}

body .container main .area_main .area_vessel_category h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

body .container main .area_main .area_vessel_category table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main .area_main .area_vessel_category table tr {
  border-bottom: solid 2px white;
}

body .container main .area_main .area_vessel_category table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30%;
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main .area_main .area_vessel_category table tr th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 7px);
  right: -7px;
  border-left: 7px solid #004a85;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

body .container main .area_main .area_vessel_category table tr td {
  text-align: left;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px 5px 10px;
}

body .container main .area_main .area_vessel_category table tr:last-child {
  border-bottom: none;
}

body .container main #table_vessel {
  padding: 20px 0px;
  width: 100%;
}

body .container main #table_vessel table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main #table_vessel table tr {
  border-bottom: solid 2px white;
}

body .container main #table_vessel table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/10);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main #table_vessel table tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main #table_vessel table tr:nth-child(odd) td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: #e6ecee;
  padding: 5px 0px;
}

body .container main #table_vessel table tr:last-child {
  border-bottom: none;
}

body .container main #table_owner {
  padding: 20px 0px;
  width: 100%;
}

body .container main #table_owner table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

body .container main #table_owner table tr {
  border-bottom: solid 2px white;
}

body .container main #table_owner table tr th {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: calc(100%/9);
  background-color: #004a85;
  color: white;
  padding: 5px 0;
}

body .container main #table_owner table tr td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: white;
  padding: 5px 0px;
}

body .container main #table_owner table tr:nth-child(odd) td {
  text-align: center;
  vertical-align: middle;
  width: auto;
  background-color: #e6ecee;
  padding: 5px 0px;
}

body .container main #table_owner table tr:last-child {
  border-bottom: none;
}

body .container main .base {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

body .container main .base #area_rooms {
  width: 20%;
  padding: 10px 0;
}

body .container main .base #area_rooms #window_rooms {
  overflow-y: scroll;
  height: 100%;
}

body .container main .base #area_rooms #window_rooms p {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

body .container main .base #area_rooms #window_rooms .new_room {
  cursor: pointer;
}

body .container main .base #area_rooms #window_rooms .new_room:hover {
  background-color: #bce1ff;
}

body .container main .base #area_rooms #window_rooms ul li {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

body .container main .base #area_rooms #window_rooms ul li:hover {
  background-color: #bce1ff;
}

body .container main .base #area_room {
  width: 40%;
  padding: 10px 0;
}

body .container main .base #area_room #area_room_name {
  z-index: 100;
}

body .container main .base #area_room #area_output {
  z-index: 5;
  overflow-y: scroll;
  height: 80vh;
}

body .container main .base #area_room #area_output #area_threads {
  padding: 10px 10px 40px;
}

body .container main .base #area_room .area_input {
  z-index: 100;
  position: absolute;
  bottom: 0;
}

body .container main .base #area_thread {
  width: 40%;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */