@charset "UTF-8";
body {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(41,43,46,1);
    height: 100%;
    .container {
        display: inline-block;
        width: 100%;
        height: 100%;
        header {
            position: fixed;
            display: flex;
            background-color: rgba(0,74,133,1);
            z-index: 9999;
            width: 100%;
            padding: 0px 10px;
            .area_logo_header {
                width: 200px;
            }
            .area_nav_header {
                display: flex;
                justify-content: flex-end;
                // float: right;
                .area_tab {
                    width: 100px;
                    a {
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        display: block;
                        line-height: 50px;
                        color: #fbfbfb;
                        transition: background-color 0.2s ease;
                        text-transform: uppercase;
                    }
                    .area_item {
                        border-radius: 3px;
                        display: none;
                        overflow: hidden;
                        background-color: white;
                        width: 220px;
                        padding: 15px;
                        position: absolute;
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                        a {
                            display: block;
                            float: left;
                            padding: 0%;
                            margin: 2% 0;
                            width: 100%;
                            text-align: center;
                            background-color: rgba(0,74,133,1);
                            color: #fbfbfb;
                            border-radius: 2px;
                            transition: background-color 0.2s ease;
                        }
                        a:hover {
                            background-color: #212121;
                            cursor: pointer;
                        }
                    }
                }
                .area_tab:hover {
                    a {
                        background-color: rgba(0, 0, 0, 0.1);
                        cursor: pointer;
                    }
                    .area_item {
                        display: block;
                        a {
                        }
                    }
                }
            }
        }
        main {
            display: block;
            margin-top: 50px;
            padding: 0 20px;
            height: 100%;
            .area_top {
                display: flex;
                padding: 20px 0;
                width: 100%;
                .area_logo{
                    width: 25%;
                }
                .area_description{
                    width: 75%;
                    .owner_name{
                       color: rgba(41,43,46,1);
                       font-size: 24px;
                       font-weight: 700;
                       line-height: 200%;
                    }
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        font-size: 14px;
                        tr {
                            border-bottom: solid 2px white;
                            th {
                                position: relative;
                                text-align: center;
                                vertical-align: middle;
                                width: 30%;
                                background-color: rgba(0,74,133,1);
                                color: white;
                                padding: 5px 0;
                            }
                            th:after {
                                display: block;
                                content: "";
                                width: 0px;
                                height: 0px;
                                position: absolute;
                                top:calc(50% - 7px);
                                right:-7px;
                                border-left: 7px solid rgba(0,74,133,1);
                                border-top: 7px solid transparent;
                                border-bottom: 7px solid transparent;
                            }
                            td {
                                text-align: left;
                                vertical-align: middle;
                                width: auto;
                                background-color: white;
                                padding: 5px 0px 5px 10px;
                            }
                        }
                        tr:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            .area_main {
                width: 100%;
                .area_owner_vessel {
                    padding: 20px 0px;
                    width: 100%;
                    h3 {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                    .owner_vessel {
                        width: 100%;
                        border-collapse: collapse;
                        font-size: 14px;
                        tr {
                            border-bottom: solid 2px white;
                            th {
                                position: relative;
                                text-align: center;
                                vertical-align: middle;
                                width: calc(100%/9);
                                background-color: rgba(0,74,133,1);
                                color: white;
                                padding: 5px 0;
                            }
                            td {
                                text-align: center;
                                vertical-align: middle;
                                width: auto;
                                background-color: white;
                                padding: 5px 0px;
                            }
                        }
                        tr:last-child {
                            border-bottom: none;
                        }
                    }
                }
                .area_owner_interest{
                    padding: 20px 0px;
                    width: 100%;
                    h3 {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                    .owner_interest{
                        table{
                            width: 100%;
                            border-collapse: collapse;
                            font-size: 14px;
                            tr {
                                border-bottom: solid 2px white;
                                th {
                                    position: relative;
                                    text-align: center;
                                    vertical-align: middle;
                                    width: 30%;
                                    background-color: rgba(0,74,133,1);
                                    color: white;
                                    padding: 5px 0;
                                }
                                th:after {
                                    display: block;
                                    content: "";
                                    width: 0px;
                                    height: 0px;
                                    position: absolute;
                                    top:calc(50% - 7px);
                                    right:-7px;
                                    border-left: 7px solid rgba(0,74,133,1);
                                    border-top: 7px solid transparent;
                                    border-bottom: 7px solid transparent;
                                }
                                td {
                                    text-align: left;
                                    vertical-align: middle;
                                    width: auto;
                                    background-color: white;
                                    padding: 5px 0px 5px 10px;
                                }
                            }
                            tr:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
                .area_vessel_category{
                    padding: 20px 0px;
                    width: 100%;
                    h3 {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        font-size: 14px;
                        tr {
                            border-bottom: solid 2px white;
                            th {
                                position: relative;
                                text-align: center;
                                vertical-align: middle;
                                width: 30%;
                                background-color: rgba(0,74,133,1);
                                color: white;
                                padding: 5px 0;
                            }
                            th:after {
                                display: block;
                                content: "";
                                width: 0px;
                                height: 0px;
                                position: absolute;
                                top:calc(50% - 7px);
                                right:-7px;
                                border-left: 7px solid rgba(0,74,133,1);
                                border-top: 7px solid transparent;
                                border-bottom: 7px solid transparent;
                            }
                            td {
                                text-align: left;
                                vertical-align: middle;
                                width: auto;
                                background-color: white;
                                padding: 5px 0px 5px 10px;
                            }
                        }
                        tr:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
            #table_vessel {
                padding: 20px 0px;
                width: 100%;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    font-size: 14px;
                    tr {
                        border-bottom: solid 2px white;
                        th {
                            position: relative;
                            text-align: center;
                            vertical-align: middle;
                            width: calc(100%/10);
                            background-color: rgba(0,74,133,1);
                            color: white;
                            padding: 5px 0;
                        }
                        td {
                            text-align: center;
                            vertical-align: middle;
                            width: auto;
                            background-color: white;
                            padding: 5px 0px;
                        }
                    }
                    tr:nth-child(odd) {
                        td {
                            text-align: center;
                            vertical-align: middle;
                            width: auto;
                            background-color: rgba(230,236,238,1);
                            padding: 5px 0px;
                        }
                    }
                    tr:last-child {
                        border-bottom: none;
                    }
                }
            }
            #table_owner {
                padding: 20px 0px;
                width: 100%;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    font-size: 14px;
                    tr {
                        border-bottom: solid 2px white;
                        th {
                            position: relative;
                            text-align: center;
                            vertical-align: middle;
                            width: calc(100%/9);
                            background-color: rgba(0,74,133,1);
                            color: white;
                            padding: 5px 0;
                        }
                        td {
                            text-align: center;
                            vertical-align: middle;
                            width: auto;
                            background-color: white;
                            padding: 5px 0px;
                        }
                    }
                    tr:nth-child(odd) {
                        td {
                            text-align: center;
                            vertical-align: middle;
                            width: auto;
                            background-color: rgba(230,236,238,1);
                            padding: 5px 0px;
                        }
                    }
                    tr:last-child {
                        border-bottom: none;
                    }
                }
            }
            .base {
                display: flex;
                padding: 20px 0;
                width: 100%;
                height: 100%;
                #area_rooms {
                    width: 20%;
                    padding: 10px 0;
                    #window_rooms {
                        overflow-y: scroll;
                        height: 100%;
                        p {
                            text-align: center;
                            vertical-align: middle;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 10px;
                        }
                        .new_room {
                            cursor: pointer;
                        }
                        .new_room:hover {
                            background-color: rgba(188,225,255,1);
                        }
                        ul {
                            li {
                                text-align: left;
                                vertical-align: middle;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 10px;
                                cursor: pointer;
                            }
                            li:hover {
                                background-color: rgba(188,225,255,1);
                            }
                        }
                    }
                }
                #area_room {
                    width: 40%;
                    padding: 10px 0;
                    #area_room_name {
                        z-index: 100;
                    }
                    #area_output {
                        z-index: 5;
                        overflow-y: scroll;
                        height: 80vh;
                        #area_threads {
                            padding: 10px 10px 40px;
                            .thread {
                                .area_img {
                                    .owner_img {
                                    }
                                }
                                .area_content {
                                    .info {
                                        .owner_name {
                                        }
                                        .dt_sent {
                                        }
                                    }
                                    .message_thread {}
                                    .command_thread {
                                        .btn_like {}
                                        .btn_reply {}
                                        .btn_update {}
                                        .btn_delete {}
                                    }
                                }
                            }
                        }
                    }
                    .area_input {
                        z-index: 100;
                        position: absolute;
                        bottom: 0;
                        .area_message {
                            #message {}
                        }
                        .area_btn {
                            #send {}
                        }
                    }
                }
                #area_thread {
                    width: 40%;
                    padding: 10px 0;
                }
            }
        }
        footer {
        }
    }
}